@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Henny+Penny&family=Nosifer&display=swap');
body{
    background-color: rgb(63, 0, 63);
    color: orange;
    font-family: "Henny Penny";
}
ul{
    display: flex;
}
li{
    margin: 20px;
}
li:hover{
    color: yellow;
}
    main{
    text-align: center;
}
h1, h2{
    color: yellow;
}
h1:hover{
    font-size: 200px; /*this is annoying lol*/
}
h2:hover{
    color: red;
}
p{
    font-family: "DynaPuff";
}
p:hover{
    font-family: "Nosifer"; /*this too*/
}
img:hover{ /*lmao*/
    width: .02em;
    height: auto;
}