body{
    background-color: #ecdecc;
    font-family: Helvetica, sans-serif;
}
.logo{
    max-width: 100%;
    height: 100px;
    border-bottom: 4px solid black;
    padding-top: 4px;
}
nav{ /*This is monkey programming btw*/
    background-color: #e1a64f;
    width: 600px; /*bump this by 100px if you want to add another nav item.*/
    height: 102px;
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: 100px;
    border: 3px solid black;
    align-items: center;
}
.navigator{
    text-align: center;
}
#logo-link{
    grid-column: 1/2;
}
#index{
    grid-column: 2/3;
}
#wwr{
    grid-column: 3/4;
}
#ice{
    grid-column: 4/5;
}
#about-me{
    grid-column: 5/6;
}
#client_report{
    grid-column: 6/7;
}
main{
    text-align: center;
    margin:0 0 8%;
}
ul{
    list-style-type:none;
    display: inline;
}
h1{
    font-size: 4em;
    font-weight: 200;
    margin-bottom: 12%;
}
h2{
    font-weight:200;
}
.page-colors{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.circle{
    border-radius:100%;
    width:100px;
    height:60px;
    padding-top:40px;
    box-shadow: 0px 0px 10px black;
}
#color1{
    background: #000000;
    color: #FFFFFF;
}
#color2{
    background:#e1a64f;
}
#color3{
    background:#ecdecc;
}
#color4{
    background:#f1f1f0;
}
h2 a{
    text-decoration: none;
}
main p{
    padding: 0 100px 100px;
}
footer p a{
    text-decoration: none;
    color: black;
}

