body{
    background-color: #ecdecc;
}
header{
    
}
.logo{
    max-width: 100%;
    height: 100px;
    border-bottom: 4px solid black;
}
nav{
    background-color: #e1a64f;
    width: 500px;
    height: 102px;
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: 100px;
    border: 3px solid black;
}
.bar{
    text-align: center;
    align-items: center;
}
#logo{
    grid-column: 1/2;
}
#index{
    grid-column: 2/3;
}
#wwr{
    grid-column: 3/4;
}
#ice{
    grid-column: 4/5;
}
#about-me{
    grid-column: 5/6;
}
main{
    text-align: center;
}
ul{
    list-style-type:none;
    display: inline;
}