body {
    background: black;
}
#wrapper{
    width: 800px;
    margin: 0 auto;
}
nav {
    color: white;
    text-align: center;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#gallery{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    border: 15px solid rgb(255, 255, 255);
    width: 100%;
    background-color: #ddd;
    background-image:
        linear-gradient(45deg, #ccc 26%, transparent 26%), 
        linear-gradient(135deg, #ccc 26%, transparent 26%),
        linear-gradient(45deg, transparent 75%, #ccc 75%),
        linear-gradient(135deg, transparent 75%, #ccc 75%);
    background-size: 20px 20px; /* Must be a square */
    background-position: 0 0, 10px 0, 10px -10px, 0px 10px; 
    
}
#gallery a {
    cursor: url('../images/christus.png'), pointer;
}
#gallery img {
    width: 200px;
    height: 300px;
    opacity:50%;
    display:block;
}
#gallery img:hover{
    opacity: 100%;
}