body {
            margin: 0;
            font-family: 'Helvetica Neue', sans-serif;
            background-color: gray;
        }

        header {
            background-color: #222;
            color: #fff;
            padding: 0.75rem 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.1rem;
            letter-spacing: 0.05rem;
            text-transform: uppercase;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        header h1 {
            margin: 0;
            font-weight: 400;
        }
        main {
            display: grid;
            grid-template-columns: .1fr .1fr 1fr .1fr;
            margin-top: 20px;
        }
        hr {
            width: 100%;
            grid-column: 1 / 5;
        }
        h2 {
            grid-column: 2/3;
        }

        #blue {
            background: blue;
            grid-column: 1 / 2;
            display: grid;
            align-items: center;
            justify-items: center;
        }

        #white {
            background: white;
            grid-column: 2 / 4;
        }

        #red {
            background: red;
            grid-column: 1 / 4;
        }

        #chile {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            height: 200px;
            width: 300px;
        }

        .star {
            width: 70px;
            aspect-ratio: 1;
            background: white;
            clip-path: polygon(50% 0, 79% 90%, 2% 35%, 98% 35%, 21% 90%);
        }

        #denmark{
            height: 200px;
            width: 300px;
            background-color: white;
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 1fr 1fr;
        }
        #dred1{
            background:red;
            margin: 0 15px 15px 0;
            grid-column: 1/2;
        }
        #dred2{
            background:red;
            margin: 0 0 15px 15px;
            grid-column: 2/3;
        }
        #dred3{
            background:red;
            margin: 15px 15px 0 0;
            grid-column: 1/2;
            grid-row: 2/3;
        }
        #dred4{
            background:red;
            margin: 15px 0 0 15px;
            grid-column: 2/3;
            grid-row: 2/3;
        }

        #finland{
            height: 200px;
            width: 300px;
            background-color: blue;
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 1fr 1fr;
        }
        #fwhite1{
            background: white;
            margin: 0 20px 20px 0;
            grid-column: 1/2;
        }
        #fwhite2{
            background: white;
            margin: 0 0 20px 20px;
            grid-column: 2/3;
        }
        #fwhite3{
            background: white;
            margin: 20px 20px 0 0;
            grid-column: 1/2;
            grid-row: 2/3;
        }
        #fwhite4{
            background:white;
            margin: 20px 0 0 20px;
            grid-column: 2/3;
            grid-row: 2/3;
        }

        #benin{
            height: 200px;
            width: 300px;
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 1fr 1fr;
        }
        #bgreen{
            background: green;
            grid-column: 1/2;
            grid-row: 1/3;
        }
        #byellow{
            background: yellow;
            grid-column: 2/3;
            grid-row: 1/2;
        }
        #bred{
            background: red;
            grid-column: 2/3;
            grid-row: 2/3;
        }

        #italy{
            height: 200px;
            width: 300px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            background: white;
        }
        #igreen{
            background: #009344;
            grid-column: 1/2;
        }
        #ired{
            background:#d20931;
            grid-column: 3/4;
        }

        #car{
            height: 200px;
            width: 300px;
            display: grid;
            grid-template-columns: 1fr 50px 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            background: #d20931;
        }
        #cblue1{
            background:#002c83;
            grid-column: 1/2;
            
        }
        #cblue1 .star{
            width: 45px;
            aspect-ratio: 1;
            background: gold;
            clip-path: polygon(50% 0, 79% 90%, 2% 35%, 98% 35%, 21% 90%);
            margin: 5px 0 0 30px;
            
        }
        #cblue2{
            background:#002c83;
            grid-column: 3/4;
        }
        #cwhite1{
            background:white;
            grid-column: 1/2;
            grid-row: 2/3;
        }
        #cwhite2{
            background:white;
            grid-column: 3/4;
            grid-row: 2/3;
        }
        #cgreen1{
            background:#249823;
            grid-column: 1/2;
            grid-row: 3/4;
        }
        #cgreen2{
            background:#249823;
            grid-column: 3/4;
            grid-row: 3/4;
        }
        #cgold1{
            background:gold;
            grid-column: 1/2;
            grid-row: 4/5;
        }
        #cgold2{
            background:gold;
            grid-column: 3/4;
            grid-row: 4/5;
        }
