body{
    background-color: #cfcfcf;
    font-family: Arial, Helvetica, sans-serif;
}
.departureinfo{
    background-color: #001b36;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.departureinfo h2{
    text-align: center;
}
.departureinfo img{
    padding: 35px;
}
.departureinfo h4{
    color: #213b56;
}
#boardingpass{
    max-width: 50%;
    background-color:white;
    margin:0 auto;
    border-radius: 19px;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: right;
    padding:15px 35px 0 25px;
}
header .logo{
    text-align: left;
}
header .name{
    margin-top: 15px;
}
.gateinfo{
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
footer{
    text-align: center;
    padding: 20px;
}
footer p{
    padding-bottom: 10px;
}