div {
  background-color: lightblue
}

main{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 30px;
  padding: 10px;
}

.second {
  grid-column: 1/-1;
}

.third{
  background-color: purple; grid-column: 1/-1;
}

.fourth{ 
  font-weight: bold; grid-column: 6/-1; 
}

section{
  display: grid;
  grid-template-columns: 1fr, 1fr;
  padding: 10px;
}

.red{
  background-color: red; grid-column: 1/3;
}

.yellow{
  background-color: yellow; grid-column: 1/3;
}

.blue{
  background-color: blue; grid-column: 1/2; color: white;
}

.black{
  background-color: black; grid-column: 2/3; color: white;
}