body{
    background: #FFECD7;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2/3;
}
.card{
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr;*/
    grid-column: 2/3;
    text-align: center;
    background-color: #008db1;
    color: #fffffe;
    font-family: helvetica;
    padding: 10px;
    border: 5px solid #004e63;
    border-radius: 35px;
}
.card h1{
    grid-column: 2/3;
    font-size: 47px;
    margin: initial;
    margin-bottom: 10px;
}
.card a{
    grid-column: 2/3;
    font-size: 19px;
    text-decoration: none;
    color: #91e4fb;
    margin: 15px;
}
.card a:hover{
    text-decoration: underline;
}
#nelson{
    grid-column:2/3;
    border: 5px solid #fffffe;
    margin: 0px 73;
}
.card h3{
    padding: 0 15%;
    text-align: initial;
    font-size: 25px;
}
li{
    margin-bottom: 5px;
}
.card p{
    color: #ffd783;
    font-family: "Nanum Brush Script";
    font-size: 25px;
    margin: -12px 63px 30px;
}
/*body{
    background: #FFECD7;
}
.card{
    font-family: Helvetica, sans-serif;
    background-color: #008db1;
    color:#fffffe;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.card h4{
    color: #91e4fb;
}
#nelson{
    grid-column: 1/4;
    
}*/