* {
    margin: 0;
}

body {
    background: rgb(120, 96, 64);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 425px 1fr;
    margin: 20px;
}
#formContainer{
    grid-column: 2/3;
    border-radius: 45px;
    border: 12px solid #0d2e7c;
    object-position: top;
    background: white;
}
header{
    height: 170px;
background-image: url("../images/jesus_feeds_5000.jpeg");
background-size: 100% auto;
border-radius: 32px 32px 0 0; /*Making it fit like this is scuffed, but I can't figure out how to make it work otherwise.*/
}
header div{
    color: white;
    text-shadow: 2px 2px black;
    margin-top: 50px;
}
main{
    display: grid;
}
main h3{
    margin: 20px;
    font-size: 22px;
    font-weight: 900;
}
#closeBtn{
    margin: 15px 100% 0 15px;
}
#myForm section{
    margin: 20px;
}
.left section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
}
.side1{
    grid-column: 1/2;
    justify-items: left;
}
.side2{
    grid-column: 2/3;
}
footer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 5px;
}
.scriptures{
    width: 100%;
    height: auto;
    margin: -4px; /*This is also scuffed*/
}
#old{
    border-radius: 0 0 0 32px;
}
#new{
    border-radius: 0 0 32px 0;
}